html, body{
	font-family: Arial, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}
body{
	background:#302F31;
	padding:10px;
}

form{
	margin:15px 0;
}
form input[type='text']{
	border:2px solid #FF9900;
	border-radius: 5px;
	padding:5px;
	width:75%;
}
form input[type='submit']{
	background: #FF9900;
	border:none;
	border-radius: 5px;
	color:#302F31;
	cursor:pointer;
	font-weight: bold;
	padding:7px 5px;
	width:19%;
}
#historico_mensagens, #lista_usuarios{
	background: #FFF;
	border:2px solid #FF9900;
	height: 550px;
	float:left;
	margin-bottom: 10px;
	width:95%;
}
#sala_chat{
	display: none;
}
#acesso_usuario{
	height:30px;
	left:50%;
	margin-left:-160px;
	margin-top:-15px;
	position: fixed;
	top:62%;
	width:320px;
}
#acesso_usuario form{
	margin:0;
}

#historico_mensagens{
    border-right: 0;
    width: 75%;
}
#lista_usuarios{
    border-left: 1px solid #FF9900;
	height: 554px;
    width: 20%;
    margin-left: 65px;
}

#historico_mensagens .sistema{
	background-color: #FF9900;
	color: #302F31;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 40px;
    padding: 5px;
}

#historico_mensagens .privada{
	background-color: #CCC;
	color: #000;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 40px;
    padding: 5px;
}
#enviarMsg{
    margin-left: 5px;
    width: 10%;
}
#texto_mensagem{
    width: 88%;
}
#logo{
    height:200px;
	left:50%;
	margin-left:-250px;
	position: fixed;
	width:200px;
}
#footer{
    color: white;
    position: absolute;
    bottom: 0;
    margin-left: 36%;
}
